In [1]:
# Dependencies
import pandas as pd
import csv

#Set CSV to a Variable
MASTER = "Resources/ufc_master_data.csv"
data = pd.read_csv(MASTER)
data

,Win_Name,R_fighter,B_fighter,R_odds,B_odds,R_ev,B_ev,date,location,country,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,Blue,Alistair Overeem,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,Cory Sandhagen,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,Alexandre Pantoja,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,Diego Ferreira,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,Michael Johnson,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561,NaN,Duane Ludwig,Darren Elkins,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,...,0.0,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0
4562,NaN,John Howard,Daniel Roberts,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,...,1.0,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4563,NaN,Brendan Schaub,Chase Gormley,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,...,0.0,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4564,NaN,Mike Pierce,Julio Paulino,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,...,10.0,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0
4565,NaN,Eric Schafer,Jason Brilz,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,...,3.0,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0

In [10]:
#Goal is to split the data from R and B fighters to a winner and loser table with PK set to match IDs
#Create Match IDs

data.insert(0, 'Match ID', range(1, 1 + len(data)))

In [15]:
#Create a List and View Column Names - Used to Drop/Rename columns later
column_names = []

for col_name in data.columns: 
    column_names.append(col_name)
    print(col_name)

Match ID
Win_Name
R_fighter
B_fighter
R_odds
B_odds
R_ev
B_ev
date
location
country
Winner
title_bout
weight_class
gender
no_of_rounds
B_current_lose_streak
B_current_win_streak
B_draw
B_avg_SIG_STR_landed
B_avg_SIG_STR_pct
B_avg_SUB_ATT
B_avg_TD_landed
B_avg_TD_pct
B_longest_win_streak
B_losses
B_total_rounds_fought
B_total_title_bouts
B_win_by_Decision_Majority
B_win_by_Decision_Split
B_win_by_Decision_Unanimous
B_win_by_KO/TKO
B_win_by_Submission
B_win_by_TKO_Doctor_Stoppage
B_wins
B_Stance
B_Height_cms
B_Reach_cms
B_Weight_lbs
R_current_lose_streak
R_current_win_streak
R_draw
R_avg_SIG_STR_landed
R_avg_SIG_STR_pct
R_avg_SUB_ATT
R_avg_TD_landed
R_avg_TD_pct
R_longest_win_streak
R_losses
R_total_rounds_fought
R_total_title_bouts
R_win_by_Decision_Majority
R_win_by_Decision_Split
R_win_by_Decision_Unanimous
R_win_by_KO/TKO
R_win_by_Submission
R_win_by_TKO_Doctor_Stoppage
R_wins
R_Stance
R_Height_cms
R_Reach_cms
R_Weight_lbs
R_age
B_age
lose_streak_dif
win_streak_dif
longest_win_streak_dif
win_dif
loss_dif
total_round_dif
total_title_bout_dif
ko_dif
sub_dif
height_dif
reach_dif
age_dif
sig_str_dif
avg_sub_att_dif
avg_td_dif
empty_arena
constant_1
B_match_weightclass_rank
R_match_weightclass_rank
R_Women's Flyweight_rank
R_Women's Featherweight_rank
R_Women's Strawweight_rank
R_Women's Bantamweight_rank
R_Heavyweight_rank
R_Light Heavyweight_rank
R_Middleweight_rank
R_Welterweight_rank
R_Lightweight_rank
R_Featherweight_rank
R_Bantamweight_rank
R_Flyweight_rank
R_Pound-for-Pound_rank
B_Women's Flyweight_rank
B_Women's Featherweight_rank
B_Women's Strawweight_rank
B_Women's Bantamweight_rank
B_Heavyweight_rank
B_Light Heavyweight_rank
B_Middleweight_rank
B_Welterweight_rank
B_Lightweight_rank
B_Featherweight_rank
B_Bantamweight_rank
B_Flyweight_rank
B_Pound-for-Pound_rank
better_rank
finish
finish_details
finish_round
finish_round_time
total_fight_time_secs
R_kd_bout
B_kd_bout
R_sig_str_landed_bout
B_sig_str_landed_bout
R_sig_str_attempted_bout
B_sig_str_attempted_bout
R_sig_str_pct_bout
B_sig_str_pct_bout
R_tot_str_landed_bout
B_tot_str_landed_bout
R_tot_str_attempted_bout
B_tot_str_attempted_bout
R_td_landed_bout
B_td_landed_bout
R_td_attempted_bout
B_td_attempted_bout
R_td_pct_bout
B_td_pct_bout
R_sub_attempts_bout
B_sub_attempts_bout
R_pass_bout
B_pass_bout
R_rev_bout
B_rev_bout

In [70]:
#Drop irrelevant columns - We drop the Win_Name because it has mostly NaN values. Instead we will choose 'Winner' column

data_df = data.drop(columns=['Win_Name'])

In [94]:
#CREATE WINNERS_DF
#Sort by Blue Winners/Red Winners
B_Win_df = data_df.loc[data['Winner'] == 'Blue']
R_Win_df = data_df.loc[data['Winner'] == 'Red']

#Drop loser columns
Blue=B_Win_df.drop(columns=['R_fighter'])
Red=R_Win_df.drop(columns=['B_fighter'])

#Rename Column
Blue_df = Blue.rename(columns={"B_fighter":"Name"})
Red_df = Red.rename(columns={"R_fighter":"Name"})

#Concat
Winners_df = pd.concat([Blue_df,Red_df])

#Sort and display
Winners = Winners_df.sort_values(by='Match ID', ascending=True) 
Winners

,Match ID,Name,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,1,Alexander Volkov,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Cory Sandhagen,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Alexandre Pantoja,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Beneil Dariush,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Clay Guida,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561,4562,Darren Elkins,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,0.0,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0
4562,4563,John Howard,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,1.0,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4563,4564,Brendan Schaub,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,0.0,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4564,4565,Mike Pierce,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,10.0,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0
4565,4566,Jason Brilz,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,3.0,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0

In [95]:
#Create Losers_df

B_Win_df = data_df.loc[data['Winner'] == 'Blue']
R_Win_df = data_df.loc[data['Winner'] == 'Red']

#Drop Winner columns
Blue_L=B_Win_df.drop(columns=['B_fighter'])
Red_L=R_Win_df.drop(columns=['R_fighter'])

#Rename Column
Blue_L_df = Blue_L.rename(columns={"R_fighter":"Name"})
Red_L_df = Red_L.rename(columns={"B_fighter":"Name"})

#Concat
Losers_df = pd.concat([Blue_L_df,Red_L_df])

#Sort and display
Losers = Losers_df.sort_values(by='Match ID', ascending=True) 
Losers

,Match ID,Name,R_odds,B_odds,R_ev,B_ev,date,location,country,Winner,...,R_td_attempted_bout,B_td_attempted_bout,R_td_pct_bout,B_td_pct_bout,R_sub_attempts_bout,B_sub_attempts_bout,R_pass_bout,B_pass_bout,R_rev_bout,B_rev_bout
0,1,Alistair Overeem,150,-182,150.000000,54.945055,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2,Frankie Edgar,-400,300,25.000000,300.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,3,Manel Kape,-125,100,80.000000,100.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Red,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4,Diego Ferreira,-125,105,80.000000,105.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,5,Michael Johnson,-225,175,44.444444,175.000000,2/6/2021,"Las Vegas, Nevada, USA",USA,Blue,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4561,4562,Duane Ludwig,-155,135,64.516129,135.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,0.0,2.0,0.00,0.5,0.0,0.0,0.0,0.0,0.0,0.0
4562,4563,Daniel Roberts,-210,175,47.619048,175.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,1.0,1.0,1.00,1.0,0.0,1.0,0.0,1.0,0.0,1.0
4563,4564,Chase Gormley,-260,220,38.461538,220.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,0.0,2.0,0.00,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4564,4565,Julio Paulino,-420,335,23.809524,335.000000,3/21/2010,"Broomfield, Colorado, USA",USA,Red,...,10.0,0.0,0.60,0.0,0.0,0.0,6.0,0.0,0.0,0.0
4565,4566,Eric Schafer,140,-160,140.000000,62.500000,3/21/2010,"Broomfield, Colorado, USA",USA,Blue,...,3.0,6.0,0.66,0.5,1.0,1.0,1.0,6.0,1.0,1.0

In [104]:
#Save to CSV

Winners.to_csv('UFC_Winners.csv', encoding='utf-8')
Losers.to_csv('UFC_Losers.csv', encoding='utf-8')